@{
    ViewData["Title"] = "GetStudentForLesson";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    int lessonId = ViewBag.LessonId; // Retrieve the lessonId from ViewBag
}

@model IEnumerable<OnlineEducationWebApp.Data.Entities.Student>

<h2>Öğrenciler</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>School Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Surname</td>
                <td>@student.SchNumber</td>
                <td>
                    <form asp-action="KickStudent" asp-controller="StudentLesson" asp-route-lessonId="@ViewBag.LessonId" method="post" onsubmit="return confirm('Are you sure you want to kick this student?');">
                        <input type="hidden" name="lessonId" value="@lessonId" />
                        <input type="hidden" name="studentId" value="@student.Id" />
                        <button type="submit" class="btn btn-danger">Kick</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
